
<div class="container">
<div class="py-5 text-center">
  <h2>Sign Up</h2>
  <p class="lead">Please provide your details below</p>
</div>
</div>


<div class="container text-center justify-content-center align-items-center" p-3 my-3 border>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
    <div class="row">
    <div class="col-md-4 offset-4">
    <%#= f.label :email%><br />
    <p class="lead">Email</p>
    <%= f.email_field :email, :class => 'form-control', autofocus: true, autocomplete: "email" %>
  </div>
  </div>
  </div>


  <div class="field">
  <div class="col-md-4 offset-4">
    <%#= f.label :password %>
    <p class="lead">Password</p>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, :class => 'form-control', autocomplete: "new-password" %>
  </div>
  </div>


  <div class="field">
  <div class="col-md-4 offset-4">
    <%#= f.label :password_confirmation %><br />
    <p class="lead">Password Confirmation</p>
    <%= f.password_field :password_confirmation, :class => 'form-control', autocomplete: "new-password" %>
  </div>
  </div>

 
  <div class="actions">
    <%= f.submit "Sign up", :class => 'btn btn-primary'%>
  </div>
 
<% end %>

<%= render "devise/shared/links" %>
</div>

