<div class="container d-flex text-center justify-content-center align-items-center" p-3 my-3 border>
  <%= form_with model: listing do |form| %>
    <div class="form-group py-2">
      <div class="field">
        <h4><%= form.label :name %></h4>
        <%= form.text_field :name, {class:"form-control", placeholder: "Enter name"}%>
        <% listing.errors.full_messages_for(:name).each do |message| %>
        <div><%= message %></div>
        <% end %>
      </div>
    </div>

    <div class="form-group py-2">
      <div class="field">
        <h4><%= form.label :price %></h4>
        <%= form.text_field :price, {class:"form-control", placeholder: "Enter price"}%>
        <% listing.errors.full_messages_for(:price).each do |message| %>
          <div><%= message %></div>
        <% end %>
      </div>
    </div>

    <div class="form-group py-2">
      <div class="field">
        <h4><%= form.label :age %></h4>
        <%= form.text_field :age, {class:"form-control", placeholder: "Enter age"}%>
        <% listing.errors.full_messages_for(:age).each do |message| %>
          <div><%= message %></div>
        <% end %>
      </div>
    </div>

    <div class="form-group py-2">
      <div class="field">
      <h4><%= form.label :description %></h4>
      <%= form.text_area :description, {class:"form-control", placeholder: "Enter description"}%>
      <% listing.errors.full_messages_for(:description).each do |message| %>
        <div><%= message %></div>
      <% end %>
      </div>
    </div>

    <div class="form-group py-3">
      <div class= "custom-file">
          <h4><%= form.label :image %></h4>
          <%= form.file_field :image %>
      </div>
    </div>
      <div class="actions py-3">
        <% if current_page? new_listing_path%>
            <%= form.submit "Submit", class: "btn btn-primary btn-lg btn-block" %>
        <% else %>
            <%= form.submit "Save Changes", class: "btn btn-primary btn-lg btn-block" %>
        <% end %>
      </div>
  <% end %>
</div>

<hr class="mb-2">          
<footer class="my-3 pt-3 text-muted text-center text-small">
  <p>&copy; 2021 ChocBloc</p>
</footer>