
<div class="form-group py-2">
  <div class="container">
    <div class="py-5 text-center">
      <h1><%= @listing.name %></h1>
    </div>
  </div>
</div>

<div class="container">
 <div class="row align-items-start">

<%= image_tag asset_path(url_for(@listing.image)), class: 'listing padd col' %>

<div class="col">
<h4>Price</h4>
<p class="col"><%= @listing.price %></hp>
</div>

<div class="col">
<h4>Age</h4>
<p class="col"><%= @listing.age %></p>
</div>

<div class="col">
<h4 class="col">Description</h4>
<p class="col"><%= @listing.description %></p>
</div>
</div>
</div>


<div class="container">
<div class="form-group py-2">
<ul>
  <li><%= link_to "Edit", edit_listing_path(@listing) %></li>
  <li><%= button_to "Destroy", listing_path(@listing),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %></li>
</ul>
</div>
</div>

</div>