<div class="form-group py-2">
  <div class="container">
    <div class="py-5 text-center">
      <h2>Forgot your password?</h2>
      <p class="lead">Please enter your email below</p>
    </div>
  </div>
</div>

<div class="container text-center justify-content-center align-items-center" p-3 my-3 border>
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="form-group py-2">
  <div class="field">
    <div class="row">
          <div class="col-md-4 offset-4">
    <%#= f.label :email %><br />
    <p class="lead">Email</p>
    <%= f.email_field :email,:class => 'form-control', autofocus: true, autocomplete: "email" %>
  </div>
  </div>
  </div>
</div>

<div class="form-group py-2">
  <div class="actions">
    <%= f.submit "Send reset instructions", :class => 'btn btn-primary btn-lg btn-block' %>
  </div>
  </div>
<% end %>

<%= render "devise/shared/links" %>
