<!DOCTYPE html>
<html>
  <head>
    <title>Chocbloc</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <nav class="navbar navbar-expand navbar-dark" style="">
    <%= link_to "ChocBloc", root_path, class: "navbar-brand mx-4" %>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Favourites</a>
        </li>
      </ul>
    </div>
      <button class="btn btn-outline-light mx-4 my-2 my-sm-0 navbar-right" type="submit">Login</button>
  </nav>

  <body class="bg-light">
    <%= yield %>
  </body>
</html>